<%- include('header', { title: 'Projektübersicht'}) %>
<%- include('header_bar', { showOverviewLink: false }) %>

<div class="header-page">
    <h1 class="space-top-large">Meine Projekte</h1>
    <% if (showSuccessfulCreation) { %>
    <p class="success space-bottom-medium">Dein Projekt wurde erfolgreich angelegt</p>
    <% } %>
    <div class="rich-selection">
        <ul>
            <% projects.forEach(project => { %>
            <li>
                <div class="item">
                    <span class="title"><%= project.name %></span>
                    <span class="description"><%= project.url %></span>
                </div>
            </li>
            <% }) %>
        </ul>
    </div>
    <a href="/panel/new-project">Neues Projekt anlegen</a>
</div>

<%- include('footer') %>